
<!DOCTYPE html>
<html>
    <head>
        <title>Love tester</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <h1>Love tester</h1>
        <h2>Sinu armastuse protsent on: {{arv}}</h2>
        <form action=".">
            <label for="miinimum">nimi 1:</label>
            <input id="miinimum" name="miinimum" type="string" value=""><br>
            <label for="maksimum">nimi 2:</label>
            <input id="maksimum" name="maksimum" type="string" value=""><br>
            <input type="submit" value="Genereeri">
        </form>
    </body>
</html>